<!DOCTYPE html>
<html>
    <head>
        <title>Classificatore immagini</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Navbar (sit on top) -->
        <div class="w3-top">
            <div class="w3-bar" id="myNavbar">
                <a href="/" class="w3-bar-item w3-button">ADM pages</a>
                <div class="w3-bar-item w3-button w3-right w3-hide-small drop">
                    <span><i class="fa fa-duotone fa-user"></i></span>
                    <div class="drop-content">
                        <a href="/login/logout" class="w3-bar-item w3-button w3-hide-small">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- First Parallax Image with Logo Text -->
        <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
            <div class="w3-display-middle" style="white-space:nowrap;">
                <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">ADM <span class="w3-hide-small">USER</span> PAGE</span>
            </div>
        </div>

        <div class="w3-content w3-container w3-padding-64 w3-center" id="portfolio">
            <div class="w3-row-padding w3-center">
                <span class="w3-bar-item w3-margin">MGMT Administrator page</span>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Blocked</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < users.length; i++){ %>
                                <tr>
                                    <td><%= users[i].id %></td>
                                    <td><%= users[i].email %></td>
                                    <td><%= users[i].username %></td>
                                    <td><%= users[i].blocked %></td>
                                    <td> <i onclick="block('<%= users[i].username %>')"
                                    <% if(users[i].blocked == 1){ %>
                                        class='fa fa-solid fa-ban w3-hover-opacity w3-green'/>
                                    <% }else{ %>
                                        class='fa fa-solid fa-ban w3-hover-opacity w3-red'/>
                                    <% } %>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
            <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
            <div class="w3-xlarge w3-section">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
        </footer>
        
        <script>
            function block(usr){
                $.post("/admin/block", {username: usr},function(data, status){
                    location.reload()
                }).fail((response) => {
                    alert("Errore durante il blocco dell'utente\nIn caso si ripeti contattare l'assistenza :)");
                });
            }
        </script>
    </body>
</html>
